**/node_modules/**
**/packages/**
**/obj/**
**/bin/**
**/ipch/**
**/debug/**
**/release/**
**/.vs/**
**/bin_debug/**
**/sample_files/**

*.vspscc
*.vssscc
*.suo
*.lock
*.ide
*.dtbcache
*.user
*.msm
*.msi
*.aps
*.sdf
*.bak
*.nds
*.ntr